/manual/book/
/target
/workshops/target
/workshops/ex03_rust_from_c/c/rust_from_c
/workshops/ex03_rust_from_c/c/libex03*
/workshops/ex03a_rust_from_c_static/c/libex03*
/workshops/ex03a_rust_from_c_static/c/rust_from_c
/workshops/ex03a_rust_from_c_static/c/rust_from_c_static
/workshops/ex04_rust_headers/bindings.h
/workshops/ex18_rust_slice/c/libex18*
/workshops/ex18_rust_slice/c/ex18
/workshops/ex19_rust_slice_struct/c/libex19*
/workshops/ex19_rust_slice_struct/c/ex19
/workshops/ex20_rust_concurency/c/libex20*
/workshops/ex20_rust_concurency/c/ex20
/workshops/ex20_rust_concurency/c/ex20_native_threads
/workshops/ex21_async/c/libex21*
/workshops/ex21_async/c/ex21